{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Label</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for produit in produits %}
                    <tr>

                        <td><a href="{{ path('app_produit', {id: produit.id}) }}">{{ produit.label }}</a></td>
                        <td>{{ produit.description }}</td>
                        <td>{{ produit.price }}</td>
                    </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
